{% extends "base_generic.html" %}

{% load tags_extra %}

{% block canonical %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/navbars/">
{% endblock %}

{% block content %}
<div class="bd-example-snippet bd-code-snippet table-responsive">
  <table class="table table-hover">
    <thead>
      <tr align="right">
        <!-- Nomes das colunas -->        
        <th scope="col">Código</th><!-- Codigo -->
        <th scope="col">País</th><!-- Pais -->
        <th scope="col">Compra</th><!-- Compra -->
        <th scope="col">Tempo</th><!-- Tempo -->
        <th scope="col" align="right">Quantidade</th><!-- Quantidade -->
        <th scope="col" align="right">Ordem</th><!-- Ordem -->
        <th scope="col" align="right">Fechamento</th><!-- Fechamento -->
        <th scope="col" align="right">Lucro</th><!-- Lucro -->
        <th scope="col" align="right">Débito</th><!-- Debito -->
        <th scope="col" align="right">Stop</th><!-- Stop -->
        <th scope="col" align="right">Alvo</th><!-- Alvo -->
      </tr>
    </thead>
    <tbody>
      
      
      {% if pais == 'total' %}
        {% for item in carteira.acao %}
        {% formata_data item.data_compra as data_compra %}
        {% formata_data item.fechamento_data as fechamento_data %}
        {% calcula_porcentagem item.valor_compra item.fechamento_valor as lucro %}
          {% if lucro < 0 %}
              <tr align="right" class="table-danger">
                  {% if item.pais == 'brasil' %}            
                      <th align="right" scope="row">{{item.codigo_b3}}</th><!-- Codigo -->
                      <td align="right"><font color="blue">{{item.pais|title}}</font></td><!-- Pais -->
                      <td align="right">{{ data_compra|date:"D d M Y" }}</td><!-- Compra -->
                      <td align="right">{{data_compra|timesince}}</td><!-- Tempo -->
                      <td align="right">{{item.quantidade_compra}}</td><!-- Quantidade -->
                      <td align="right"><strong>R$ {{item.valor_compra|floatformat:"2g"}}</strong></td><!-- Ordem -->
                      <td align="right">R$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                      <td align="right"><font color="red"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td><!-- Lucro -->
                      <td align="right">R$ {{item.debito_total_compra|floatformat:"2g"}}</td><!-- Debito -->
                      <td align="right">R$ {{item.stop_venda|floatformat:"2g"}}</td><!-- Stop -->
                      <td align="right">R$ {{item.alvo_venda|floatformat:"2g"}}</td><!-- Alvo -->
                      
                  {% elif item.pais == 'eua' %}            
                      <th scope="row">{{item.codigo_b3}}</th>
                      <td><font color="green">{{item.pais|title}}</font></td>
                      <td>{{ data_compra|date:"D d M Y" }}</td>
                      <td>{{data_compra|timesince}}</td>
                      <td align="right">{{item.quantidade_compra}}</td>
                      <td align="right"><strong>U$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                      <td align="right">U$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                      <td align="right"><font color="red"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td>
                      <td align="right">U$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                      <td align="right">U$ {{item.stop_venda|floatformat:"2g"}}</td>
                      <td align="right">U$ {{item.alvo_venda|floatformat:"2g"}}</td>            
                  {% endif%}
              </tr>
          {% elif lucro > 0  %}
              <tr align="right" class="table-success">
                  {% if item.pais == 'brasil' %}            
                  <th scope="row">{{item.codigo_b3}}</th>
                  <td><font color="blue">{{item.pais|title}}</font></td>
                  <td>{{ data_compra|date:"D d M Y" }}</td>
                  <td>{{data_compra|timesince}}</td>
                  <td align="right">{{item.quantidade_compra}}</td>
                  <td align="right"><strong>R$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                  <td align="right">R$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                  <td align="right"><font color="green"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td>
                  <td align="right">R$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                  <td align="right">R$ {{item.stop_venda|floatformat:"2g"}}</td>
                  <td align="right">R$ {{item.alvo_venda|floatformat:"2g"}}</td>
                      
                  {% elif item.pais == 'eua' %}            
                  <th scope="row">{{item.codigo_b3}}</th>
                  <td><font color="green">{{item.pais|title}}</font></td>
                  <td>{{ data_compra|date:"D d M Y" }}</td>
                  <td>{{data_compra|timesince}}</td>
                  <td align="right">{{item.quantidade_compra}}</td>
                  <td align="right"><strong>U$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                  <td align="right">U$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                  <td align="right"><font color="green"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td>
                  <td align="right">U$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                  <td align="right">U$ {{item.stop_venda|floatformat:"2g"}}</td>
                  <td align="right">U$ {{item.alvo_venda|floatformat:"2g"}}</td>            
                  {% endif%}
              </tr>
          {% else %}
              <tr align="right" class="table-secondary">
                  {% if item.pais == 'brasil' %}            
                      <th scope="row">{{item.codigo_b3}}</th>
                      <td><font color="blue">{{item.pais|title}}</font></td>
                      <td>{{ data_compra|date:"D d M Y" }}</td>
                      <td>{{data_compra|timesince}}</td>
                      <td align="right">{{item.quantidade_compra}}</td>
                      <td align="right"><strong>R$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                      <td align="right">R$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                      <td align="right">0 %</td>
                      <td align="right">R$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                      <td align="right">R$ {{item.stop_venda|floatformat:"2g"}}</td>
                      <td align="right">R$ {{item.alvo_venda|floatformat:"2g"}}</td>
                      
                  {% elif item.pais == 'eua' %}            
                      <th scope="row">{{item.codigo_b3}}</th>
                      <td><font color="green">{{item.pais|title}}</font></td>
                      <td>{{ data_compra|date:"D d M Y" }}</td>
                      <td>{{data_compra|timesince}}</td>
                      <td align="right">{{item.quantidade_compra}}</td>
                      <td align="right"><strong>U$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                      <td align="right">U$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                      <td align="right">0 %</td>
                      <td align="right">U$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                      <td align="right">U$ {{item.stop_venda|floatformat:"2g"}}</td>
                      <td align="right">U$ {{item.alvo_venda|floatformat:"2g"}}</td>            
                  {% endif%}
              </tr>
          {% endif %}
        {% endfor %}
      {% elif pais == 'brasil' %}
        {% for item in carteira.acao %}
        {% formata_data item.data_compra as data_compra %}
        {% formata_data item.fechamento_data as fechamento_data %}
        {% calcula_porcentagem item.valor_compra item.fechamento_valor as lucro %}
          {% if lucro < 0 %}
            <tr align="right" class="table-danger">          
              {% if item.pais == pais %}
                <th scope="row">{{item.codigo_b3}}</th>
                <td><font color="blue">{{item.pais|title}}</font></td>
                <td>{{ data_compra|date:"D d M Y" }}</td>
                <td>{{data_compra|timesince}}</td>
                <td align="right">{{item.quantidade_compra}}</td>
                <td align="right"><strong>R$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                <td align="right">R$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                <td align="right"><font color="red"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td>
                <td align="right">R$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                <td align="right">R$ {{item.stop_venda|floatformat:"2g"}}</td>
                <td align="right">R$ {{item.alvo_venda|floatformat:"2g"}}</td>
              {% endif %}
            </tr>
          {% elif lucro > 0 %}
            <tr align="right" class="table-success">          
              {% if item.pais == pais %}
                <th scope="row">{{item.codigo_b3}}</th>
                <td><font color="blue">{{item.pais|title}}</font></td>
                <td>{{ data_compra|date:"D d M Y" }}</td>
                <td>{{data_compra|timesince}}</td>
                <td align="right">{{item.quantidade_compra}}</td>
                <td align="right"><strong>R$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                <td align="right">R$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                <td align="right"><font color="green"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td>
                <td align="right">R$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                <td align="right">R$ {{item.stop_venda|floatformat:"2g"}}</td>
                <td align="right">R$ {{item.alvo_venda|floatformat:"2g"}}</td>
              {% endif %}
            </tr>
          {% else %}
            <tr align="right" class="table-secondary">          
              {% if item.pais == pais %}
                <th scope="row">{{item.codigo_b3}}</th>
                <td><font color="blue">{{item.pais|title}}</font></td>
                <td>{{ data_compra|date:"D d M Y" }}</td>
                <td>{{data_compra|timesince}}</td>
                <td align="right">{{item.quantidade_compra}}</td>
                <td align="right"><strong>R$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                <td align="right">R$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                <td align="right">0 %</td>
                <td align="right">R$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                <td align="right">R$ {{item.stop_venda|floatformat:"2g"}}</td>
                <td align="right">R$ {{item.alvo_venda|floatformat:"2g"}}</td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% elif pais == 'eua' %}
        {% for item in carteira.acao %}
        {% formata_data item.data_compra as data_compra %}
        {% formata_data item.fechamento_data as fechamento_data %}
        {% calcula_porcentagem item.valor_compra item.fechamento_valor as lucro %}
          {% if lucro < 0 %}
            <tr align="right" class="table-danger">          
              {% if item.pais == pais %}
                <th scope="row">{{item.codigo_b3}}</th>
                <td><font color="green">{{item.pais|title}}</font></td>
                <td>{{ data_compra|date:"D d M Y" }}</td>
                <td>{{data_compra|timesince}}</td>
                <td align="right">{{item.quantidade_compra}}</td>
                <td align="right"><strong>U$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                <td align="right">U$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                <td align="right"><font color="red"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td>
                <td align="right">U$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                <td align="right">U$ {{item.stop_venda|floatformat:"2g"}}</td>
                <td align="right">U$ {{item.alvo_venda|floatformat:"2g"}}</td>
              {% endif %}
            </tr>
          {% elif lucro > 0 %}
            <tr align="right" class="table-success">
              {% if item.pais == pais %}
                <th scope="row">{{item.codigo_b3}}</th>
                <td><font color="green">{{item.pais|title}}</font></td>
                <td>{{ data_compra|date:"D d M Y" }}</td>
                <td>{{data_compra|timesince}}</td>
                <td align="right">{{item.quantidade_compra}}</td>
                <td align="right"><strong>U$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                <td align="right">U$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                <td align="right"><font color="green"><strong>{{lucro|floatformat:"2g"}}  %</strong></font></td>
                <td align="right">U$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                <td align="right">U$ {{item.stop_venda|floatformat:"2g"}}</td>
                <td align="right">U$ {{item.alvo_venda|floatformat:"2g"}}</td>
              {% endif %}
            </tr>
          {% else %}
            <tr align="right" class="table-secondary">          
              {% if item.pais == pais %}
                <th scope="row">{{item.codigo_b3}}</th>
                <td><font color="green">{{item.pais|title}}</font></td>
                <td>{{ data_compra|date:"D d M Y" }}</td>
                <td>{{data_compra|timesince}}</td>
                <td align="right">{{item.quantidade_compra}}</td>
                <td align="right"><strong>U$ {{item.valor_compra|floatformat:"2g"}}</strong></td>
                <td align="right">U$ {{item.fechamento_valor|floatformat:"2g"}}<small><sub> {{fechamento_data|date:"d M Y"}}</sub></small></td><!-- Fechamento -->
                <td align="right">0 %</td>
                <td align="right">U$ {{item.debito_total_compra|floatformat:"2g"}}</td>                
                <td align="right">U$ {{item.stop_venda|floatformat:"2g"}}</td>
                <td align="right">U$ {{item.alvo_venda|floatformat:"2g"}}</td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


  
{% endblock %}